<center>
    <div class="header">Warehouse</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo" ng-click="outputsCtrl.goToBack()">
    <hr>

    <div class="header" ng-click="outputsCtrl.goToBack()">
        {{outputsCtrl.title}} ({{outputsFilter.length}} / {{outputsCtrl.outputs.length}})
    </div>

    <div>
        <input type="text" class="form-control input"
               placeholder="Search here"
               ng-model="outputsCtrl.query.name">
    </div>

    <table class="table table-striped input">
        <tr ng-repeat="item in filteredOutputs | orderBy:outputsCtrl.sort:outputsCtrl.rev |
            filter:outputsCtrl.query as outputsFilter track by $index"
            ng-click="outputsCtrl.outputsEditForm(item)">

            <td class="input">
                <div class="name-div">
                    ID: {{item.number}} <br>
                    Customer: {{item.client}} <br>
                    Date: {{item.date}} <br>
                    Total: {{item.total | number:2}}
                </div>
            </td>

        </tr>
    </table>

    <hr class="fix-hr">
		<span class="label label-primary per-page">Items per page:
			<input class="per-page-input" type="text" ng-model="numPerPage" value={{numPerPage}}>
		</span>

    <div>
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                    boundary-links="true"></pagination>
    </div>

    <button class="btn btn-primary button" ng-click="outputsCtrl.outputsAdd()">Add</button>&nbsp
    <button class="btn btn-primary button" ng-click="outputsCtrl.outputsBack()" scroll-here>Back</button>
    <div class="blanker"></div>
</center>