<center>
    <div class="header">Warehouse</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo">
    <hr>

    <form ng-submit="outputsInvoiceEditCtrl.invoiceSubmit()" novalidate name="outputsInvoiceEditCtrl.form">
        <div class="header" ng-click="outputsInvoiceEditCtrl.goInputs()">
            {{outputsInvoiceEditCtrl.goods}}
        </div>
        <br><br>
        <table class="table table-bordered">
            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="Commodite:">
                </td>
                <td class="width100">
                    <input type="text" class="form-control readonly" readonly
                           ng-model="outputsInvoiceEditCtrl.goods">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="Price:">
                </td>
                <td>
                    <input type="text" class="form-control readonly" readonly
                           ng-model="outputsInvoiceEditCtrl.price">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="Quantity:">
                </td>
                <td>
                    <input type="text" class="form-control readonly" readonly
                           ng-model="outputsInvoiceEditCtrl.quantity">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="Description:">
                </td>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder="Transaction description" name="description"
                           ng-model="outputsInvoiceEditCtrl.description">

                    <div ng-if="outputsInvoiceEditCtrl.form.$submitted">
                        <div ng-show="outputsInvoiceEditCtrl.form.description.$error.required" class="valid">Value
                            required
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="Total:">
                </td>
                <td>
                    <input type="text" class="form-control readonly" readonly
                           ng-model="outputsInvoiceEditCtrl.total">
                </td>
            </tr>
        </table>

        <input value="Submit" class="btn btn-primary button" type="submit">&nbsp
        <button type="button" class="btn btn-primary button" ng-click="outputsInvoiceEditCtrl.invoiceDialog()">Delete</button><br><br>
        <button type="button" class="btn btn-primary button" ng-click="outputsInvoiceEditCtrl.goOutputsInvoice()">Back</button>
    </form>
	<div class="blanker"></div>
</center>