<center>
    <div class="header">Warehouse</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo" ng-click="inputsCtrl.goToBack()">
    <hr>

    <div class="header" ng-click="outputsInvoiceCtrl.goOutputs()">
        Sales InvoicesID: {{outputsInvoiceCtrl.number}}
    </div>
    <br><br>
    <table class="table table-bordered">
        <tr>
            <td>
                <input type="text" class="form-control readonly caption"
                       readonly value="ID:">
            </td>
            <td class="width100">
                <input type="text" class="form-control readonly" required readonly
                       ng-model="outputsInvoiceCtrl.number">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control readonly caption"
                       readonly value="Customer:">
            </td>
            <td>
                <input type="text" class="form-control readonly" required readonly
                       ng-model="outputsInvoiceCtrl.client">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control readonly caption"
                       readonly value="Date:">
            </td>
            <td>
                <input type="text" class="form-control readonly" required readonly
                       ng-model="outputsInvoiceCtrl.date">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control readonly caption"
                       readonly value="Description:">
            </td>
            <td>
                <input type="text" class="form-control readonly" required readonly
                       ng-model="outputsInvoiceCtrl.description">

            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control readonly caption"
                       readonly value="Total:">
            </td>
            <td>
                <input type="text" class="form-control readonly" required readonly
                       ng-model="outputsInvoiceCtrl.total">
            </td>
        </tr>
    </table>

    <div class="header-invoice">
        Records in invoice: {{invoiceData.length}}
    </div>

    <table class="table table-striped input" id="grid">
        <tr ng-repeat="item in outputsInvoiceCtrl.outputInvoices | orderBy:outputsInvoiceCtrl.sortInvoice
				| filter:outputsInvoiceCtrl.invoiceFilter as invoiceData track by $index"
            ng-click="outputsInvoiceCtrl.editInvoice(item)">

            <td class="input">
                <div class="name-div">
                    Commodity: {{item.goods}} <br>
                    Price: {{item.price}} <br>
                    Quantity: {{item.quantity}} <br>
                    Total: {{item.total | number:2}}
                </div>
            </td>

        </tr>
    </table>

    <hr>

    <button class="btn btn-primary button" ng-click="outputsInvoiceCtrl.addInvoice()">Add</button>&nbsp
    <button class="btn btn-primary button" ng-click="outputsInvoiceCtrl.outputEditExitInvoice()">Back</button>
    <div class="blanker"></div>
</center>