<center>
    <div class="header">Warehouse</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo">
    <hr>

    <form ng-submit="outputsAddCtrl.outputsAddSubmit()" novalidate name="outputsAddCtrl.form">
        <div class="header">
            New record
        </div>
        <br><br>
        <table class="table table-bordered">
            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="ID:">
                </td>
                <td class="width100">
                    <input type="text" class="form-control input" required digits-only
                           placeholder="ID" name="number"
                           ng-model="outputsAddCtrl.number">

                    <div ng-if="outputsAddCtrl.form.$submitted">
                        <div ng-show="outputsAddCtrl.form.number.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="Customer:">
                </td>
                <td>
                    <select required class="form-control select"
                            ng-model="outputsAddCtrl.selectedItem"
                            ng-options="clientsOption.name for clientsOption in outputsAddCtrl.clientsOptions
                                track by clientsOption.name"
                            ng-change="outputsAddCtrl.updateChange(outputsAddCtrl.selectedItem)">
                    </select>

                    <div ng-show="outputsAddCtrl.error" class="valid">Value required</div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="Date:">
                </td>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder="Date" name="date"
                           ng-model="outputsAddCtrl.date">

                    <div ng-if="outputsAddCtrl.form.$submitted">
                        <div ng-show="outputsAddCtrl.form.date.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="text" class="form-control readonly caption"
                           readonly value="Description:">
                </td>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder="Description" name="description"
                           ng-model="outputsAddCtrl.description">

                    <div ng-if="outputsAddCtrl.form.$submitted">
                        <div ng-show="outputsAddCtrl.form.description.$error.required" class="valid">Value required
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <input type="submit" class="btn btn-primary button" value="Submit">&nbsp
        <button type="button" class="btn btn-primary button" ng-click="outputsAddCtrl.outputsAddBack()">Back</button>
    </form>
	<div class="blanker"></div>
</center>