<center>
	<div class="header">Warehouse</div>
	<br><br>
	<img ng-src="logo.jpg" class="logo">
	<hr>

	<form ng-submit="goodsAddCtrl.goodsAddSubmit()" novalidate name="goodsAddCtrl.form">
		<div class="header">New record</div>
		<br><br>
		<table class="table table-bordered">
			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Name" name="name"
						   ng-model="goodsAddCtrl.name">

					<div ng-if="goodsAddCtrl.form.$submitted">
						<div ng-show="goodsAddCtrl.form.name.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Price" name="price"
						   ng-model="goodsAddCtrl.price">

					<div ng-if="goodsAddCtrl.form.$submitted">
						<div ng-show="goodsAddCtrl.form.price.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Description" name="description"
						   ng-model="goodsAddCtrl.description">

					<div ng-if="goodsAddCtrl.form.$submitted">
						<div ng-show="goodsAddCtrl.form.description.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
		</table>

		<button type="submit" class="btn btn-primary button">Submit</button>&nbsp
		<button type="button" class="btn btn-primary button" ng-click="goodsAddCtrl.goodsAddBack()">Back</button>
	</form>
	<div class="blanker"></div>
</center>