<center>
	<div class="header">Warehouse</div>
	<br><br>
	<img ng-src="logo.jpg" class="logo" ng-click="loginCtrl.goToBack()">
	<hr>

	<form ng-submit="loginCtrl.toLogin()" novalidate name="loginCtrl.form">
		<div class="header">Login</div>
		<br><br>
		<table class="table table-bordered">
			<tr>
				<td>
					<input type="text" class="form-control input" required 
						   placeholder="Login" name="name"
						   ng-model="loginCtrl.name">

					<div ng-if="loginCtrl.form.$submitted">
						<div ng-show="loginCtrl.form.name.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="password" class="form-control input" required
						   placeholder="Password" name="pass"
						   ng-model="loginCtrl.pass">

					<div ng-if="loginCtrl.form.$submitted">
						<div ng-show="loginCtrl.form.pass.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
		</table>
			<div ng-show="loginCtrl.error" class="valid fix">
				Error. Wrong name or password
			</div>

		<input type="submit" class="btn btn-primary button" value="Login">&nbsp
	</form>
	<div class="blanker"></div>
</center>