<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <center>
        <div class="header">Users</div>
            <br><br>
                <h3>Are you sure you want to delete user {{usersDialogCtrl.name}}?</h3>
            <br><br>
        <button class="btn btn-primary button" ng-click="usersDialogCtrl.usersDelete()">Yes</button>
        <button class="btn btn-primary button" ng-click="usersDialogCtrl.usersEditBack()">No</button>
    </center>
</body>
</html>