<center>
    <div class="header">Warehouse</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo">
    <hr>

    <form ng-submit="usersEditCtrl.usersSubmit()" novalidate name="usersEditCtrl.form">
        <div class="header">User: {{usersEditCtrl.name}}</div>
        <br><br>
        <table class="table table-bordered">
            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder="Login" name="name"
                           ng-model="usersEditCtrl.name">

                    <div ng-if="usersEditCtrl.form.$submitted">
                        <div ng-show="usersEditCtrl.form.name.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder="Password" name="pass"
                           ng-model="usersEditCtrl.pass">

                    <div ng-if="usersEditCtrl.form.$submitted">
                        <div ng-show="usersEditCtrl.form.pass.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder="Description" name="description"
                           ng-model="usersEditCtrl.description">

                    <div ng-if="usersEditCtrl.form.$submitted">
                        <div ng-show="usersEditCtrl.form.description.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary button">Submit</button>&nbsp
        <button type="button" class="btn btn-primary button" ng-click="usersEditCtrl.usersDialog()">Delete</button>
        <br><br>
        <button type="button" class="btn btn-primary button" ng-click="usersEditCtrl.usersEditBack()">Back</button>
    </form>
</center>