<center>
    <div class="header">Warehouse</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo" ng-click="categoriesCtrl.goToBack()">
    <hr>
    <div class="header">Configurations</div>
    <br><br>
    <table class="table table-bordered">
        <tr>
            <td>
                <span class="input">Application mode</span>
                <input type="text"
                       class="form-control"
                       ng-model="configCtrl.mode"
                       ng-click="configCtrl.toggleMode()"
                       readonly value="configCtrl.mode">
            </td>
        </tr>
        <tr>
            <td>
                <span class="input">Transaction</span>
                <select class="form-control"
                        scroll-there
                        require
                        ng-options="option.name for option in configCtrl.options"
                        ng-model="configCtrl.selectedItem">
                </select>

                <div ng-show="configCtrl.error" class="alert alert-danger" style="margin-bottom:-8px">Something went wrong
                </div>
                <div ng-show="configCtrl.loading" class="header" style="font-size:25px;">&nbsp Loading...</div>
                <div ng-show="configCtrl.complete" class="header" style="font-size:25px;">&nbsp Action is completed
                </div>
            </td>
        </tr>
    </table>

    <button class="btn btn-primary button" ng-click="configCtrl.doAction()">Action</button>&nbsp
    <button class="btn btn-primary button" ng-click="configCtrl.toMain()" scroll-here>Back</button>
    <div class="blanker"></div>
</center>