<center>
    <div class="header">Warehouse</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo">
    <hr>
	
	<form ng-submit="inputsEditCtrl.inputsSubmit()" novalidate name="inputsEditCtrl.form">
		<div class="header" ng-click="inputsEditCtrl.goInputs()">Purchase InvoicesID: {{inputsEditCtrl.number}}</div>
		<br><br>
		<table class="table table-bordered">
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="ID:">
				</td>
				<td class="width100">
					<input type="text" class="form-control input" required digits-only
						   placeholder="Transaction ID" name="number"
						   ng-model="inputsEditCtrl.number">

					<div ng-if="inputsEditCtrl.form.$submitted">
						<div ng-show="inputsEditCtrl.form.number.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="Customer:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="inputsEditCtrl.client">
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="Date:">
				</td>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Transaction date" name="date"
						   ng-model="inputsEditCtrl.date">

					<div ng-if="inputsEditCtrl.form.$submitted">
						<div ng-show="inputsEditCtrl.form.date.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="Description:">
				</td>
				<td>
					<input type="text" class="form-control input" required
						   placeholder="Transaction description" name="description"
						   ng-model="inputsEditCtrl.description">

					<div ng-if="inputsEditCtrl.form.$submitted">
						<div ng-show="inputsEditCtrl.form.description.$error.required" class="valid">Value required</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" class="form-control readonly caption"
						   readonly value="Total:">
				</td>
				<td>
					<input type="text" class="form-control readonly" required readonly
						   ng-model="inputsEditCtrl.total">
				</td>
			</tr>
		</table>

		<input type="submit" class="btn btn-primary button" value="Edit">&nbsp
		<button type="button" class="btn btn-primary button" ng-click="inputsEditCtrl.inputsDialog()">Delete</button>
		<br><br>
		<button type="button" class="btn btn-primary button" ng-click="inputsEditCtrl.inputsEditBack()">Back</button>
	</form>
	<div class="blanker"></div>
</center>