<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <center>
        <div class="header">{{inputsInvoiceDialogCtrl.goods}}</div>
            <br><br>
                <h3>Are you sure you want to delete this item?</h3>
            <br><br>
        <button class="btn btn-primary button" ng-click="inputsInvoiceDialogCtrl.itemDelete()">Yes</button>
        <button class="btn btn-primary button" ng-click="inputsInvoiceDialogCtrl.goInputsInvoice()">No</button>
    </center>
</body>
</html>