<center>
    <div class="header">Warehouse</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo" ng-click="storeCtrl.goToBack()">
    <hr>

    <div class="header" ng-click="storeCtrl.goToBack()">
        {{storeCtrl.title}} ({{goodsFilter.length}} / {{storeCtrl.store.length}})
    </div>

    <div>
        <input type="text" class="form-control input"
               placeholder="Search here"
               ng-model="storeCtrl.query.name">
    </div>

    <table class="table table-striped input">
        <tr ng-repeat="item in filteredGoods | orderBy:storeCtrl.sort:storeCtrl.rev |
				filter:storeCtrl.query as goodsFilter track by $index">

            <td class="input">
                <div class="name-div">
                    {{item.name}} <br>
                    Quantity: {{item.quantity | number:2}}
                </div>
            </td>

        </tr>
    </table>

    <hr class="fix-hr">
		<span class="label label-primary per-page">Items per page:
			<input class="per-page-input" type="text" ng-model="numPerPage" value={{numPerPage}}>
		</span>

    <div>
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                    boundary-links="true"></pagination>
    </div>

    <button class="btn btn-primary button" ng-click="storeCtrl.storeBack()" scroll-here>Back</button>
    <div class="blanker"></div>
</center>