<center>
    <div>
        <div class="header">Warehouse</div>
        <br><br>
        <img ng-src="logo.jpg" class="logo">
        <br>
        <div>
            <hr>

            <div ng-click="mainCtrl.go('main.store')" class="items">Store</div><br>
            <div ng-click="mainCtrl.go('main.goods')" class="items">Commodities</div><br>
            <div ng-click="mainCtrl.go('main.clients')" class="items">Customers</div><br>
            <div ng-click="mainCtrl.go('main.inputs')" class="items">Purchase Invoices</div><br>
            <div ng-click="mainCtrl.go('main.outputs')" class="items">Sales Invoices</div><br>

            <!-- ONLY for Google Market -->
            <div ng-click="mainCtrl.go('main.users')" class="items">Users</div><br>
            <div ng-click="mainCtrl.go('audit')" class="items">Audit</div><br>
            <div ng-click="mainCtrl.go('main.config')" class="items">Configurations</div><br>
 
			<div ng-click="mainCtrl.go('login')" class="items">Logout</div>            
            <hr>
        </div>
    </div>
</center>